<h1 class="text-center" style="font-family: 'Acme', sans-serif;">GITHUB SEARCH</h1>
<hr>
<hr>
<div *ngIf="user">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{user.login}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
              <div class="col-md-2">
                 <img class="img-thumbnail github-avatar"  src="{{user.avatar_url}}" >
              </div>
              <div class="col-md-8">
                <div class="info">
                  <span class="label default" style="margin-right: 5px;" style="font-family: 'Acme', sans-serif;">  {{user.public_repos}} Repositories  </span>
                  <span class="label primary" style="margin-right: 5px;" style="font-family: 'Acme', sans-serif;">  {{user.following}} Following  </span>
                  <span class="label success" style="margin-right: 5px;" style="font-family: 'Acme', sans-serif;">  {{user.followers}} Followers  </span>
                  <hr>
                  <a class="btn btn-primary" href="{{user.html_url}}" target="_blank" style="font-family: 'Acme', sans-serif;">View from Github</a>
                </div>
                <br>
                <ul class="list-group">
                  <li class="list-group-item">Email: <strong>{{user.email}}</strong></li>
                  <li class="list-group-item">Member since: <strong>{{user.created_at}}</strong></li>
                </ul>
              </div>
          </div>
    </div>
    <hr>
    <hr>
    <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Repositories</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div *ngFor= "let repo of repos">
                  <div class="row">
                    <div class="col-md-9">
                      <h4><a href="{{repo.html_url}}" target="_blank" >{{repo.name}}</a></h4> 
                      <p>{{repo.description}}</p>
                    </div>
                    <div class="col-md-3">

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
    </div>
</div>
