<app-search-form></app-search-form>
<div *ngIf="user">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{user.login}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
              <div class="col-md-2">
                 <img class="img-thumbnail github-avatar"  src="{{user.avatar_url}}" >
              </div>
              <div class="col-md-8">
                <div class="info">
                  <span class="label default" style="margin-right: 5px;">  {{user.public_repos}} Repositories  </span>
                  <span class="label primary" style="margin-right: 5px;">  {{user.following}} Following  </span>
                  <span class="label success" style="margin-right: 5px;">  {{user.followers}} Followers  </span>
                  <hr>
                  <a class="btn btn-primary" href="{{user.html_url}}" target="_blank">View from Github</a>
                </div>
                <br>
                <ul class="list-group">
                  <li class="list-group-item">Email: <strong>{{user.email}}</strong></li>
                  <li class="list-group-item">Member since: <strong>{{user.created_at}}</strong></li>
                </ul>
              </div>
          </div>
    </div>
    <hr>
    <hr>
    <app-repos></app-repos>
</div>
